body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;

}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
.header-container {
display: flex;
align-items: center;

}


.nav {
 display: flex; 
}

.chocolate {

}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;

}

.nav-list {
  display: flex;
  gap: 24px;
  margin-left: 365px;
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  padding: 16px 0;
}

.social-list {
  display: flex;
  margin-left: auto;
  gap: 14px;
}

.hero-section {
  background: rgba(17, 17, 17, 0.4);
  border-radius: 30px;
  
}

.hero-wraper {
  padding: 381px 40px 40px;
  margin-bottom: 50px;
}

.hero-title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.btn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  padding: 14px 40px;
  
}

.btn-wraper {
  display: flex;
  gap: 14px;
}

.btn-buy {
  border-radius: 100px;
  background: rgb(253, 146, 34);
  border: none;
}

.btn-made {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;

}

.scroll {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.scroll-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 38px;
}

.achievement-section {
  background: rgb(30, 24, 35);
  padding: 50px 0;
}

.achievement-list {
  display: flex;
  gap: 88px;
}

.achievement-item {
  max-width: 308px;
}

.achievement-title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 18px;
}

.achievement-paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 50px;
}

.section-title-accent {
  color: rgb(253, 146, 34);
}

.subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 36px;
  
}

.subtitle-accent {
  color: #fff;
}

.ingredients-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: calc((100% - 3 * 32) / 4);
}

.ingridients-item {
  border-radius: 15px;
  padding: 28px 17px 28px;
}

.ingredients-img {
  
}

.orange-cart {
  background: rgb(253, 146, 34);
}

.white-cart {
  border: 1px solid rgb(253, 146, 34);
}

.black-cart {
  background: rgb(30, 24, 35);
}

.made-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 52px;
  margin-bottom: 12px;
  max-width: 350px;
}

.made-wraper {
  display: flex;
}

.right-wraper {
  display: flex;
  flex-direction: column;

}

.made-list {
  max-width: 470px;
}

.made-item {
  color: #111111;
  margin-left: 12px;

}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  
}

.product-item{
  width: calc((100% - 3 * 18px) / 4);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

.product-paragraph {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  text-align: center;
}

.product-img {
  padding: 32px 20px 8px;
}

.btn-wraper {
  display: flex;
  justify-content: center;
}

.btn-product {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  box-sizing: border-box;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background: rgb(250, 250, 250);
  color: #111111;
  margin-bottom: 32px;

}

.top-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.top-item {
background-color: rgb(255, 255, 255);
border-radius: 0px 0px 15px 15px;
border-bottom: 1px solid rgba(17, 17, 17, 0.1);
border-left: 1px solid rgba(17, 17, 17, 0.1);
border-right: 1px solid rgba(17, 17, 17, 0.1);
}
.top-title {
  padding: 28px 64px;
}

.reviews-list {
  display: flex;
  gap: 28px;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 50px;
}


.reviews-img {
position: absolute;
top: -42px;
left: 37%;
/* left: calc(50% - 40px); */
}


.reviews-item {
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 15px;
box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.1);
background: rgb(255, 255, 255);
max-width: 360px;
position: relative;
}



.reviews-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-top: 56px;
}

.reviews-paragraph {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  max-width: 312px;
  margin: 24px 24px;
}

.btn-reviews {
  color: #111111;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  box-sizing: border-box;
  border: 1px solid rgb(253, 146, 34);
  border-radius: 100px;
  background-color: transparent;
  
}

.reviews-pb {
  padding-bottom: 120px;
}

.footer-section {
  background: rgb(30, 24, 35);
}





.footer-title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.02em;
  max-width: 300px;
}

.footer-paragraph {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.footer-contact {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.nav-item-accent {
  color: #ffffff;
}
